# Remove the `.sample` extension from this file after editing, as well as this comment
BROWSERSTACK=1
APPIUM_USER=[Replace with your "username" from "App Automate" in https://www.browserstack.com/accounts/settings]
APPIUM_PASSWORD=[Replace with your "password" from "App Automate" in https://www.browserstack.com/accounts/settings]
